<div class="bio-title-box">
  <p class="bio-title-bio">Biografia</p>
  <p class="bio-title-name">ÉMILE TUCHBAND</p>
</div>
</div>
<div class="bio-section">
  <div class="bio-text">
    <p class="bio-year" >1959</p>
    <p class="bio-event" >Exposição no salão "Art Libre" em Paris.</p>
    <p class="bio-year" >1960</p>
    <p class="bio-event" >Exposição na Galerie Marcel Bernheim em Paris. Cartaz para o filme "Orfeu do Carnaval" de Marcel Camus.</p>
    <p class="bio-year" >1962</p>
    <p class="bio-event" >Exposição na Fundação Armando Alvares Penteado em São Paulo. Exposição na Galerie Marcel Bernheim em Paris.</p>
    <p class="bio-year" >1963</p>
    <p class="bio-event" >Exposição "Chorégie d'Orange” em Paris.</p>
    <p class="bio-year" >1964</p>
    <p class="bio-event" >Exposição coletiva na Feira Internacional de Nova York.</p>
    <p class="bio-year" >1965</p>
    <p class="bio-event" >Exposição na Galerie Marcel Bernheim em Paris.</p>
    <p class="bio-year" >1966</p>
    <p class="bio-event" >Exposição no "Club de Marsellais em Paris.</p>
    <p class="bio-year" >1967</p>
    <p class="bio-event" >Exposição na Galerie Marcel Bernheim em Paris.</p>
    <p class="bio-year" >1968</p>
    <p class="bio-event" >Prêmio na Biennale di Venezia.</p>
    <p class="bio-year" >1970</p>
    <p class="bio-event" >Exposição na Galerie Marcel Bernheim em Paris.</p>
    <p class="bio-year" >1972</p>
    <p class="bio-event" >Exposição na Galeria da Aliança Francesa, Rio de Janeiro.</p>
    <p class="bio-year" >1973</p>
    <p class="bio-event" >Exposição na Galerie Marcel Bernheim em Paris.</p>
    <p class="bio-year" >1974</p>
    <p class="bio-event" >Exposição no Salão Dourado do Hilton em São Paulo.</p>
    <p class="bio-year" >1975</p>
    <p class="bio-event" >Exposição na Galeria da Aliança Francesa em Santos - SP.</p>
    <p class="bio-year" >1976</p>
    <p class="bio-event" >Participação na Biennale Internationale des Peintres de Provence, Aix-en-Provence. Referência no “Dictionnaire E. Bénézit”, livro 10, página 301.</p>
    <p class="bio-year" >1977</p>
    <p class="bio-event" >Exposição na Galeria Aktuaryus em Strasbourg.</p>
    <p class="bio-year" >1978</p>
    <p class="bio-event" >Exposição na “École National de la Marine Merchante de Nantes”.</p>
    <p class="bio-year" >1980</p>
    <p class="bio-event" >Exposição na Galerie Marcel Bernheim em Paris.</p>
    <p class="bio-year" >1983</p>
    <p class="bio-event" >Exposição no "Club de Marsellais em Paris.</p>
    <p class="bio-year" >1985</p>
    <p class="bio-event" >Exposição coletiva "Artistas e Futebol" na Galeria Grossman, São Paulo, com 22 artistas, dentre eles Aldemir Martins, Fang, Fulvio Pennacchi, Gustavo Rosa e Inos Corradin.</p>
    <p class="bio-year" >1987</p>
    <p class="bio-event" >Exposição na "Sociarte" em São Paulo.</p>
    <p class="bio-year" >1988</p>
    <p class="bio-event" >Exposição na Galerie Marcel Bernheim em Paris.</p>
    <p class="bio-year" >1989</p>
    <p class="bio-event" >Exposição na "Sociarte" em São Paulo.</p>
    <p class="bio-year" >1990</p>
    <p class="bio-event" >Exposição na "Chappell Art" em São Paulo.</p>
    <p class="bio-year" >1998</p>
    <p class="bio-event" >Exposição no Centro Cultural da Aliança Francesa em São José dos Campos - SP.</p>
    <p class="bio-year" >2005</p>
    <p class="bio-event" >Exposição "Magiciens au Jardin" no Badebec, Radisson Faria Lima, em São Paulo.</p>
    <p class="bio-year" >2009</p>
    <p class="bio-event" >Exposição no Museu de Arte Brasileira da Fundação Armando Alvares Penteado MAB-FAAP com trabalhos de Émile e de sua filha Isabelle Tuchband, em São Paulo.</p>
    <p class="bio-year" >2010</p>
    <p class="bio-event" >Exposição "Aba Sheli" no Centro de Cultura Judaica, com obras de Émile e Isabelle Tuchband - São Paulo.</p>
    <p class="bio-year" >2011</p>
    <p class="bio-event" >Exposição "Marcas do Expressionismo" no Museu de Arte Brasileira da FAAP, com trabalhos de 11 artistas, dentre eles Anita Malfatti, Émile Tuchband, Flávio de Carvalho e Oswaldo Goeldi, em São Paulo.</p>
    <p class="bio-year" >2017</p>
    <p class="bio-event" >Lançamento do livro "Émile Tuchband, Senhor de Dois Mundos" no Museu de Arte Brasileira da FAAP, São Paulo.</p>
  </div>
  <div class="bio-imgs-grid">
      <div class="bio-img-box">
        <img src="/assets/emile/bioet1.jpg" alt="Émile Tuchband em Paris" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet2.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it3.jpeg" alt="capa do Dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it4.jpeg" alt="menção à Émile Tuchband no dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet3.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet4.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet5.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet6.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet8.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet10.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet11.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet12.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet14.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet15.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet17.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet18.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet19.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/emile/bioet20.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
  </div>
</div>