<section class="atelier-section">
  <div class="atelier-grid">
    <div class="artist-description">
      <p class="artist-title">ISABELLE TUCHBAND</p>
      <p class="artist-text">Isabelle Tuchband nasceu na cidade de Taubaté em 1968, filha do pintor francês Émile Tuchband e da tenista Marlene Tuchband. Seu contato com a arte se estabeleceu desde cedo, na convivência com o pai em seu atelier. Iniciou sua trajetória artística ainda na adolescência, estudando escultura com o artista plástico José Demétrio. Mais tarde estudou artes plásticas na Faculdade Santa Marcelina em São Paulo, na École des Arts Décoratifs e no Museu do Louvre, em Paris. Autêntica e livre, Isabelle construiu uma linguagem personalíssima que traduz e representa a intensidade contemporânea em pinturas e colagens que transbordam energia, cores e movimento. Participou de diversas exposições nacionais e internacionais e desenvolveu vários projetos artísticos, incluindo uma obra pública no metrô de São Paulo. Vive e trabalha em São Paulo, Brasil.</p>
    </div>
    <div class="atelier-images">
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/index/landrot.jpg" alt="Isabelle Tuchband galeria em Paris" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/tuctuc.jpeg" alt="Isabelle Tuchband no Monoprix Paris" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/metro.jpg" alt="Isabelle Tuchband e Verena Matzen painel metro Santa Cruz" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/index/jornal.jpeg" alt="Atelier Cite na coluna de Monica Bergamo" class="slider-img newspaper-img">
      </div>
      <div class="slider">
        <ul class="slider-ul slider-dois">
          <li>
            <img src="/assets/index/isavaso.jpg" alt="Isabelle Tuchband pintura em vaso" class="slider-img isavaso-img">
          </li>
          <li>
            <img src="/assets/index/tigre.jpg" alt="Isabelle Tuchband Jaguar Parade" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/isaemile.jpeg" alt="Isabelle e Emile Tuchband" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/index/portrait.jpeg" alt="Isabelle Tuchband pintando retrato" class="slider-img">
      </div>
      <div class="slider">
        <ul class="slider-ul slider-tres">
          <li>
            <img src="/assets/index/azul.jpg" alt="Isabelle Tuchband e Verena Matzen" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/pele.jpg" alt="Pelé com Isabelle Tuchband e Verena Matzen" class="slider-img pele">
          </li>
          <li>
            <img src="/assets/index/vepainting.jpeg" alt="Verena Matzen pintando" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/index/dvf.jpeg" alt="pulseira Isabelle Tuchband para Diane Von Furstenberg" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/ferrero.jpeg" alt="ovo Ferrero por Isabelle Tuchband" class="slider-img ferrero-img">
          </li>
          <li>
            <img src="/assets/index/cite1.jpg" alt="Isabelle Tuchband e Verena Matzen" class="slider-img">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bio-link">
    <a href="/isabelle-tuchband/bio">
      <div class="store-btn-container">
        <button class="store-btn bio-btn"><span>BIOGRAFIA</span></button>
      </div>
    </a>
  </div>
</section>
