<div class="box-grid isabelle">
  <div class="box-image">
    <%= image_tag "index/272.JPEG", alt: "pintura de Isabelle Tuchband", class:"photo" %>
  </div>
  <div class="box-names">
    <div class="box-name">
      <p class="artist-name">ISABELLE</p>
    </div>
    <div class="box-surname">
      <p class="artist-surname">TUCHBAND</p>
    </div>
    <div class="box-button">
      <div class="center">
        <a href="https://www.ateliercite.com.br/isabelle-tuchband" id="isabelle-button">
          <button class="btn">
            <svg width="210px" height="70px" viewBox="0 0 210 70" class="border" preserveAspectRatio="none">
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="bg-line"/>
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="hl-line"/>
            </svg>
            <span>ENTRAR</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<%= render 'pl' %>
