<div class="bio-title-box">
  <p class="bio-title-bio">Biografia</p>
  <p class="bio-title-name">ISABELLE TUCHBAND</p>
</div>
</div>
<div class="bio-section">
  <div class="bio-text">
    <p class="bio-year" >1968</p>
    <p class="bio-event" >Nascida em março de 1968 na cidade de Taubaté, SP. Filha do pintor francês Émile Tuchband e da tenista Marlene Tuchband. Passou sua infância na Praia da Fazenda, em Ubatuba, litoral norte de São Paulo. Cresceu entre as tintas e telas no ateliê de seu pai.</p>
    <p class="bio-year" >1986</p>
    <p class="bio-event" >Com 18 anos, incentivada pelo pai, Isabelle teve aulas de escultura com o artista plástico José Demétrio, um dos principais escultores do Vale do Paraíba.</p>
    <p class="bio-year" >1987</p>
    <p class="bio-event" >Estudos de Artes Plásticas na escola Santa Marcelina, em São Paulo. Curso com o pintor brasileiro Paulo Pasta.</p>
    <p class="bio-year" >1988</p>
    <p class="bio-event" >Estudos de Artes Plásticas na École des Arts Décoratifs e Museu do Louvre, em Paris, França.</p>
    <p class="bio-year" >1989</p>
    <p class="bio-event" >De volta ao Brasil, inaugura em São Paulo, o Atelier Cité, com a pintora Verena Matzen. Dedica-se, principalmente, ao trabalho em faiança e porcelana.</p>
    <p class="bio-year" >1992</p>
    <p class="bio-event" >Exposição Galeria Consolação, projeto "São Paulo para Todos" da Prefeitura Municipal de São Paulo.</p>
    <p class="bio-year" >1993</p>
    <p class="bio-event" >Exposição individual "Faianças" no Museu Banespa - São Paulo.</p>
    <p class="bio-year" >1994</p>
    <p class="bio-event" >Exposição no Café Design Tok&Stok - São Paulo e Curitiba.</p>
    <p class="bio-year" >1995</p>
    <p class="bio-event" >Exposição no Museu Banespa - em São Paulo e na Loja Hum - Rio de Janeiro.</p>
    <p class="bio-year" >1996</p>
    <p class="bio-event" >Inaugaração do painel "Arte no Metro" na Estação Santa Cruz, São Paulo. Exposição na Casa do Brasil em Madrid, com Verena Matzen.</p>
    <p class="bio-year" >1997</p>
    <p class="bio-event" >Exposição individual "Vase Vide" na Galerie Landrot - Paris, França. Exposição no Museu de Arte Contemporânea MAC - Campinas, São Paulo. Exposição « Eles por Nós Retratos » no Atelier Cité - São Paulo.</p>
    <p class="bio-year" >1998</p>
    <p class="bio-event" >Exposição coletiva "Artuelle" - Beirute, Líbano. Exposição "Tuchband & Tuchband" na Galeria Casa das Artes - São Paulo. Exposição coletiva "Vive l Afrique" no Musée de L Homme - Paris, França.</p>
    <p class="bio-year" >1999</p>
    <p class="bio-event" >Inclusão no Dicionário Bénézit, ed. Gründ.</p>
    <p class="bio-year" >2001</p>
    <p class="bio-event" >Exposição "México Imaginário" no "Centro Cultural Casa das Rosas" - São Paulo. Exposição "Confiance et Sérénite" no Atelier Cité - São Paulo.</p>
    <p class="bio-year" >2002</p>
    <p class="bio-event" >Exposição "Alma Paulista" no "Centro Brasileiro Britânico" - São Paulo. Exposição individual "Ma Vie" no Espaço Esfera Artefacto - São Paulo.</p>
    <p class="bio-year" >2003</p>
    <p class="bio-event" >Instalação individual no Pavilhão da Bienal no SP Fashion Week. Exposição individual "Voilà mon Coeur" na Galerie Landrot - Paris, França.</p>
    <p class="bio-year" >2004</p>
    <p class="bio-event" >Mostra no Espaço Conceito - São Paulo. Afrescos para Unilever - São Paulo. Exposição com Verena Matzen "L amour, ce nomade", Hilton Hotel - São Paulo.</p>
    <p class="bio-year" >2005</p>
    <p class="bio-event" >Exposição na Assembléia Municipal de São Paulo Exposição coletiva no espaço Alumni Hall - São Paulo. Exposição coletiva no Museu de Arte Moderna MAM para os 30 anos da Melissa - Rio de Janeiro. Exposição e lançamento do livro "Voyage d Amour", Maison Z - São Paulo. Nascimento de Max Joseph, filho de Isabelle Tuchband e Joseph Catão.</p>
    <p class="bio-year" >2006</p>
    <p class="bio-event" >Convite para ilustrar capa de publicação da Maison de la France.</p>
    <p class="bio-year" >2007</p>
    <p class="bio-event" >Criação de uma ânfora comemorativa para a empresa O Boticário. Obra "O Amor Move o Mundo" concorre ao Prêmio Ilustração Abril. Exposição individual Poeira - Lisboa e Cascais, Portugal.</p>
    <p class="bio-year" >2008</p>
    <p class="bio-event" >Lançamento do livro "Será que eu sou assim?" no Mube-SP e na Pinacoteca do Estado de São Paulo.</p>
    <p class="bio-year" >2009</p>
    <p class="bio-event" >Exposição "Papa et moi no Museu" no Museu de Arte Brasileira da Fundação Armando Alvares Penteado MAB-FAAP com trabalhos de Isabelle e de seu pai, Émile Tuchband - São Paulo.</p>
    <p class="bio-year" >2010</p>
    <p class="bio-event" >Exposição "Aba Sheli" no Centro de Cultura Judaica, com obras de Émile e Isabelle Tuchband - São Paulo. Lançamento de gravuras para Buriti na Livraria Da Vila - São Paulo. Exposição "Amour, Délices et Lumières" na loja DOMINICI - São Paulo.</p>
    <p class="bio-year" >2011</p>
    <p class="bio-event" >Exposição individual "Viens", na Galerie Landrot - Paris, França. Criação de coleção de camisetas para a loja Bobstore - São Paulo. Lançamento das sacolas da Tok&Stok - São Paulo. Lançamento do novo livro do Atelier Cité: "Atelier Cité Paixões Declaradas", Editora Luste, junto com a artista Verena Matzen, na Livraria da Vila - São Paulo.</p>
    <p class="bio-year" >2012</p>
    <p class="bio-event" >Apresentação em evento na loja SCHUTZ da Oscar Freire - São Paulo. Lançamento da coleção de jóias "Gitane" para a designer Francesca Romana Diana - São Paulo. Exposição  "Continuar-me" na ProArte Galeria junto com a artista Verena Matzen - São Paulo.</p>
    <p class="bio-year" >2013</p>
    <p class="bio-event" >Exposição coletiva na WN Gallery, Basak Malone presents "The New Collectors Selection Exhibition" - Nova York, EUA. Exposição " Isabelle Tuchband e a narrativa primordial" no Espaço Cultural Citi curadoria Jacob Klintowitz - São Paulo. Participação na Mônica Parade para os 50 anos da Mônica - São Paulo.</p>
    <p class="bio-year" >2014</p>
    <p class="bio-event" >Lançamento da linha de esmaltes Granado com a artista Verena Matzen, loja Conceito Firma Casa - São Paulo. Participação no livro "Mitsubishi Motorsports 2013" Criação de linhas de roupas para o Monoprix, rede francesa de lojas - Paris, França. Criação de estampas para lojas Princess, lançamento na Galeria Contempo - São Paulo. Criação de um ovo de Pascoa para Ferrero Rocher, exposição no shopping JK - São Paulo. Exposição "À Vous" no Hôtel Negresco, - Nice, França.</p>
    <p class="bio-year" >2015</p>
    <p class="bio-event" >Exposição com a Mixed inspirada no México, no espaço Di Pace Arte e Design - São Paulo.</p>
    <p class="bio-year" >2016</p>
    <p class="bio-event" >Exposição Luz y Color - São José Rio Preto. Criação de um painel para Turismo Espanha no prédio da Bienal - São Paulo. Criação de um tecido e camisetas para Mixed.</p>
    <p class="bio-year" >2017</p>
    <p class="bio-event" >Exposição Alma Plena - Shopping Iguatemi - São José do Rio Preto-SP. Retrato de Nossa Senhora Aparecida para o Museu de Arte Sacra da Basílica Nacional. Exposição Luz y Color no Hotel Hilton. Lançamento do livro "Émile Tuchband, Senhor de Dois Mundos" no Museu de Arte Brasileira da FAAP, São Paulo.</p>
  </div>
  <div class="bio-imgs-grid">
      <div class="bio-img-box">
        <img src="/assets/isabelle/it1.jpeg" alt="Isabelle Tuchband foto de Pablo di Giulio" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it2.jpeg" alt="mão de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it3.jpeg" alt="capa do Dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it4.jpeg" alt="menção à Isabelle Tuchband no dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it5.jpeg" alt="obra de Isabelle Tuchband na vitrine do Monoprix Paris" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it6.jpeg" alt="Marlene Isabelle e Max Tuchband exposição FAAP" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it7.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it8.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it9.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it10.jpeg" alt="Ilove you with all my art" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it11.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it12.jpeg" alt="Isabelle Tuchband pintando em Paris" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it13.jpeg" alt="Isabelle Tuchband com vaso" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it14.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it15.jpeg" alt="exposição Isabelle Tuchband Feel Spain" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it16.jpeg" alt="Isabelle Tuchband em seu atelier" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it17.jpeg" alt="lata com pintura de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it18.jpeg" alt="Isabelle Tuchband na Espanha" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it19.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it20.jpeg" alt="vaso de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it21.jpeg" alt="Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it22.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it23.jpeg" alt="obra de Isabelle Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/isabelle/it24.jpeg" alt="Isabelle Tuchband " class="bio-img">
      </div>
  </div>
</div>