<div class="form-admin"> 
  <h2>Cadastrar artista</h2><br><br>

  <%= form_with(model: @artist) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-input" %>
    </div>
    <%= f.submit 'Cadastrar', class: "form-button" %>
  <% end %>
</div>