<div class="bio-title-box">
  <p class="bio-title-bio">Biografia</p>
  <p class="bio-title-name">VERENA MATZEN</p>
</div>
</div>
<div class="bio-section">
  <div class="bio-text">
    <p class="bio-year" >1965</p>
    <p class="bio-event" >Verena Matzen nasceu em agosto de 1965 em Buenos Aires, Argentina.</p>
    <p class="bio-year" >1972</p>
    <p class="bio-event" >Família Matzen muda-se para o Brasil em se estabele em São Paulo.</p>
    <p class="bio-year" >1987</p>
    <p class="bio-event" >Estudo de Artes Plásticas na Faculdade Santa Marcelina, em São Paulo. Exposição coletiva no "Salão da Cor" e no "Salão Aquarelado" na Faculdade Santa Marcelina, São Paulo.</p>
    <p class="bio-year" >1988</p>
    <p class="bio-event" >Curso de História da Arte no Museu de Arte de São Paulo - MASP - com o professor Gilson Pedro. Viagem pelos museus da Europa. Curso profissional de escultura na École des Arts Décoratifs em Paris. Curso profissional de História da Arte no Museu do Louvre, em Paris.</p>
    <p class="bio-year" >1989</p>
    <p class="bio-event" >Curso profissional para GLASS WORKS, ADAC, Paris. Inauguração do Atelier Cité, com Isabelle e Émile Tuchband.</p>
    <p class="bio-year" >1991</p>
    <p class="bio-event" >Exposição coletiva no Antiquarius, em São Paulo. Exposição coletiva no Salão Bunkyo de Arte Contemporânea Brasil-Japão, em São Paulo.</p>
    <p class="bio-year" >1992</p>
    <p class="bio-event" >Exposição coletiva na Galeria DECO em São Paulo.</p>
    <p class="bio-year" >1993</p>
    <p class="bio-event" >Exposição no Espaço Design da loja Tok&Stok, São Paulo. Exposição coletiva na Galeria Interne, Rio de Janeiro. Exposição na Sala Carlota Dell'Acqua, em Campinas - SP.</p>
    <p class="bio-year" >1994</p>
    <p class="bio-event" >Exposição na Galeria Hum no Rio de Janeiro. Exposição coletiva no Clube Monte Líbano, em São Paulo. Exposição coletiva para o Aniversário da Cidade de São Paulo - painel de 50m2 na Estação de Metrô Consolação, em São Paulo. Vencedora do Prêmio Michelangelo de Pintura de arte para jovens talentos, São Paulo. Referência no catálogo Julio Louzada. </p>
    <p class="bio-year" >1995</p>
    <p class="bio-event" >Exposição coletiva Oito Pintoras, Ovideo, Brasil. Exposição com Isabelle Tuchband no Museu Banespa, em São Paulo.</p>
    <p class="bio-year" >1996</p>
    <p class="bio-event" >Exposição com Isabelle Tuchband na Casa do Brasil, em Madri, Espanha. Produção de painel de cerâmica com Isabelle Tuchband na estação de Metrô Santa Cruz - projeto Arte no Metrô da Prefeitura de São Paulo.</p>
    <p class="bio-year" >1997</p>
    <p class="bio-event" >Exposição de retratos "Eles por Nós" com Isabelle Tuchband e Patricia Magano, em São Paulo. Exposição no Centro Cultural Gaia em Piracicaba - SP. Exposição coletiva "Artistes et Écrivains dans le Monde de la Poste", representação do Brasil, em Paris. Exposição individual "Orixás" na Galerie Zygmund Bislansky em Montmartre, Paris.</p>
    <p class="bio-year" >1998</p>
    <p class="bio-event" >Participação na "International Exhibition of Contemporary Art - Artuel", em Beirute - Líbano, apoio Embaixada do Brasil. Exposição coletiva "Le Livre Noir", representação do Brasil, no Musée de L'Homme em Paris.</p>
    <p class="bio-year" >1999</p>
    <p class="bio-event" >Exposição coletiva "MMM" no Parque de Exposições Salvador, Bahia.</p>
    <p class="bio-year" >2000</p>
    <p class="bio-event" >Participação na Biennale Internationale des Peintres de Provence, Aix-en-Provence. Referência no “Dictionnaire E. Bénézit”, livro 10, página 301.</p>
    <p class="bio-year" >1977</p>
    <p class="bio-event" >Exposição 500 Anos do Descobrimento EXPO2000, Pavilhão do Brasil, Câmara de Comércio Brasil-Alemanha, em Hannover, Alemanha.</p>
    <p class="bio-year" >2001</p>
    <p class="bio-event" >Exposição "The Genesis", 9 Kunstmeile Prenzlauer Berg, em Berlim, Alemanha.</p>
    <p class="bio-year" >2002</p>
    <p class="bio-event" >Participação no 10 Kunstmeile Prenzlauer Berg, em Berlim, Alemanha. Participação no 1 Kunstmeile Wedding/Berlin-Mitte, em Berlim, Alemanha.</p>
    <p class="bio-year" >2003</p>
    <p class="bio-event" >Nascimento do filho Konstantin.</p>
    <p class="bio-year" >2004</p>
    <p class="bio-event" >Exposição "Desire is a Nomad" com Isabelle Tuchband, no Hotel Hilton, em São Paulo.</p>
    <p class="bio-year" >2007</p>
    <p class="bio-event" >Nascimento da filha Luna Paolina.</p>
    <p class="bio-year" >2008</p>
    <p class="bio-event" >Exposição coletiva em homenagem ao poeta Khalil Gibran no Clube Monte Líbano, em São Paulo. Exposição individual na Assembleia Legislativa em São Paulo.</p>
    <p class="bio-year" >2009</p>
    <p class="bio-event" >Exposição coletiva no Centro Cultural da FIESP, em São Paulo.</p>
    <p class="bio-year" >2010</p>
    <p class="bio-event" >Pintura de painel no Hotel Toriba em Campos do Jordão, SP. Lançamento de gravuras das séries "Flores" e "Mulheres" pela Editora Buriti na Livraria da Vila, em São Paulo.</p>
    <p class="bio-year" >2011</p>
    <p class="bio-event" >Lançamento de gravuras para o projeto SFK pela Editora Buriti na Livraria da Vila, em São Paulo. Pintura de mural na capela da Fazenda Borba Gato com Isabelle Tuchband, no Vale do Paraíba, SP. Lançamento do livro "Atelier Cité, Paixões Declaradas" na Livraria da Vila, São Paulo.</p>
    <p class="bio-year" >2012</p>
    <p class="bio-event" >Exposição "Continuar-me", com a artista Isabelle Tuchband, Na Galeria ProArte, em São Paulo.</p>
    <p class="bio-year" >2014</p>
    <p class="bio-event" >Lançamento das embalagens desenvolvidas para linha de produtos da Granado, com Isabelle Tuchband, na Conceito Firma Casa, São Paulo.</p>
    <p class="bio-year" >2015</p>
    <p class="bio-event" >Participação na Biennale de Veneza para o Acervo Benetton, em Veneza, Itália.</p>
    <p class="bio-year" >2016</p>
    <p class="bio-event" >Lançamento do livro "Verena Matzen, a Cerimônia do Encontro" no Museu da Imagem e do Som - MIS, São Paulo.</p>
  </div>
  <div class="bio-imgs-grid">
      <div class="bio-img-box">
        <img src="/assets/verena/biovm1.jpeg" alt="Émile Tuchband em Paris" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm2.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm3.jpeg" alt="capa do Dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm4.jpeg" alt="menção à Émile Tuchband no dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm5.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm6.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm7.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm9.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm11.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm12.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm13.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm14.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm15.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm16.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm17.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm18.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm19.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm20.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm21.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm22.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm23.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="/assets/verena/biovm24.jpeg" alt="obra de Émile Tuchband" class="bio-img">
      </div>
  </div>
</div>