<section class="artists reveal">
  <div class="box-grid" class="isabelle">
    <div class="box-image">
      <img src="/assets/index/272.JPEG" alt="pintura de Isabelle Tuchband" class="photo">
    </div>
    <div class="box-names">
      <div class="box-name">
        <p class="artist-name">ISABELLE</p>
      </div>
      <div class="box-surname">
        <p class="artist-surname">TUCHBAND</p>
      </div>
      <div class="box-button">
        <div class="center">
          <button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>ENTREZ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-grid">
    <div class="box-image">
      <img src="/assets/index/044.JPEG" alt="pintura de Émile Tuchband" class="photo">
    </div>
    <div class="box-names emile">
      <div class="box-name">
        <p class="artist-name emile">ÉMILE</p>
      </div>
      <div class="box-surname">
        <p class="artist-surname emile">TUCHBAND</p>
      </div>
      <div class="box-button">
        <div class="center">
          <button class="btn emile">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>ENTREZ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-grid" class="verena">
    <div class="box-image">
      <img src="/assets/index/verenacapa.jpg" alt="pintura de Verena Matzen" class="photo">
    </div>
    <div class="box-names verena">
      <div class="box-name">
        <p class="artist-name verena">VERENA</p>
      </div>
      <div class="box-surname">
        <p class="artist-surname">MATZEN</p>
      </div>
      <div class="box-button">
        <div class="center">
          <button class="btn verena">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>ENTREZ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="atelier-section">
  <div class="atelier-grid">
    <div class="atelier-description">
      <h3 class="atelier-title">L'ATELIER</h3>
      <p class="atelier-text">Inaugurado no ano de 1989 na rua Bela Cintra, em São Paulo, o Atelier Cité conta uma doce história de herança e compartilhamento artístico entre Émile Tuchband, Isabelle Tuchband - pai e filha - e Verena Matzen.</p>
      <p class="atelier-text">Elemento comum, a fundamentalidade da cor vibra como uma voz na pintura dos artistas. Ora canta, ora se exalta, em composições que compartilham sonhos, histórias, joie de vivre e espiritualidade.</p>
    </div>
    <div class="atelier-images">
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/index/tigre.jpg" alt="Pintura por Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/azul.jpg" alt="Isabelle Tuchband e Verena Matzen" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/landrot.jpg" alt="Atelier Cite na coluna de Monica Bergamo" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/index/jornal.jpeg" alt="Atelier Cite na coluna de Monica Bergamo" class="slider-img fixed-img">
      </div>
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/index/tigre.jpg" alt="Pintura por Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/azul.jpg" alt="Isabelle Tuchband e Verena Matzen" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/landrot.jpg" alt="Atelier Cite na coluna de Monica Bergamo" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/index/azul.jpg" alt="Isabelle e Verena na Espanha" class="slider-img fixed-img">
      </div>
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/index/tigre.jpg" alt="Pintura por Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/azul.jpg" alt="Isabelle Tuchband e Verena Matzen" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/landrot.jpg" alt="Atelier Cite na coluna de Monica Bergamo" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/index/azul.jpg" alt="Isabelle e Verena na Espanha" class="slider-img fixed-img">
      </div>
    </div>
  </div>
</section>

