

<section class="artists">
  <div class="box-grid">
    <div class="box-image">
      <img src="/assets/index/272.JPEG" alt="" class="photo">
    </div>
    <div class="box-names">
      <div class="box-name">
        <p class="artist-name">ISABELLE</p>
      </div>
      <div class="box-surname">
        <p class="artist-surname">TUCHBAND</p>
      </div>
      <div class="box-button">
        <div class="center">
          <button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>ENTREZ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

