<div class="division">
  <section class="gallery">
    <div class="fotos">
      <img src="/assets/img1.jpg" alt="imagem 1">
      <img src="/assets/img2.jpg" alt="imagem 2">
      <img src="/assets/img3.jpg" alt="imagem 3">
      <img src="/assets/img4.jpg" alt="imagem 4">
      <img src="/assets/img1.jpg" alt="imagem 1">
    </div>
  </section>
</div>