<div class="sent-message-box">
  <div class="merci-box">
      <p class="merci"><%= t '.tks' %></p>
  </div>
  <div class="merci-text">
    <h3><%= t '.message_sent' %></h3>
    <p><%= t '.message_sent_text' %></p>
  </div>
</div>
