.artist-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.artist-title {
  color:#4F95DA;
  font-family: 'Anton';
  font-size:5.5vw;
  animation-name: name;
  animation-duration: 3s;
  animation-timing-function: steps(4, end);
  animation-delay: 1s;
  transition: 4s;
  margin-left: 8.5%;
}
.artist-text {
  color: #211b15;
  width: 83%;
  font-family: 'Encode Sans Semi Condensed';
  font-size: 1.4rem;
  line-height: 160%;
  text-align: justify;
  margin-top: -1.5%;
  margin-left: 8.5%;
}
.bio-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ff1493;
  height: 80px;
}
.store-btn.bio-btn {
  width: 230px;
  height: 40px;
  cursor: pointer;
  color: whitesmoke;
  background: linear-gradient(180deg, #FF89D6 0%, #FF1493 70%);
  transition: all 0.3s ease;
  border-radius:15px;
  border: #FF1493;
  box-shadow: 0px 2px 10px -3px #610030;
}
.work-section {
  background-color: white;
}
.work-head {
  background-color:mediumslateblue;
}
.work-head-title {
  color:white;
  font-family: 'Encode Sans Semi Condensed';
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 4%;
  padding-top: 25px;
}
.space {
  width: 100%;
  height: 30px;
  background-color: white;
}
.work-title {
  font-size: 1.1rem;
  margin-top: 0;
  margin-left: 0;
  color: #1a299e;
}
.work-desc {
  margin-left: 0;
  margin-top:0;
  font-size: 1rem;
}
.work-reference {
  margin-left: 0;
  margin-top:0;
  font-size: 0.8rem;
  color:darkslategray;
}
.work-card:hover {
  transform:scale(1.02, 1.02);
}
.canvas-img-admin {
  border-radius: 12px 12px 0 0;
}

.bio-title-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bio-title-bio {
  background-color:white;
  font-family: 'Encode Sans Semi Condensed';
  color: #211b15;
  font-size: 1.1rem;
  padding-top: 9vh;
  padding-left: 5vw;
}
.bio-title-name {
  background-color: #46e8eb;
  font-family: 'Anton';
  color: white;
  font-size: 6vmax;
  text-align: center;
}
.bio-section {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.bio-text {
  margin-left: 10%;
  width: 80%;
  font-family: 'Encode Sans Semi Condensed';
  color: #211b15;
  font-size: 1.1rem;
}
.bio-year {
  margin-top: 4%;
  font-weight: 700;
}
.bio-event {
  margin-top: 1%;
  text-align: justify;
}
.bio-imgs-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bio-img-box {
  text-align: center;
  height: 310px;
  overflow: hidden;
}
.bio-img {
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.canva-show-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.canva-img-box {
  flex: 0 0 60%;
}
.canva-img {
  width: 100%;
  border-radius: 4px;
  padding: 35px;
}
.canva-show-text-box {
  flex: 40%;
  font-family: 'Encode Sans Semi Condensed';
  color: #211b15;
  font-size: 1rem;
}
.canva-show-title {
  font-weight: 700;
  color: #1a299e;
  padding-bottom: 4%;
}
.canva-show-description {
  padding-bottom: 1%;
}
.canva-show-reference {
  font-size: 0.8rem;
  color:darkslategray;
  padding-bottom: 1%;
}
.bio-link.show-link {
  width: 100%;
  background-color: white;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.store-btn.show-btn {
  width: 230px;
  height: 40px;
  color: #211b15;
  background:white;
  border: 1px solid #f57db6;
  box-shadow:none;
}
.store-btn.show-btn:hover {
  color: white;
  transform:none;
  background-color: #fd2b7e;
  box-shadow:none;
}
.contact-page-title {
  background-color: #f3ff08;
  font-family: 'Anton';
  color: white;
  font-size: 6vmax;
  padding-left: 30px;
}
.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 450px;
  background-color: #f3ff08;
  margin-top: -50px;
}
.contact-img-box {
  width: 80%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-img {
  width: 100%;
  object-fit: cover;
}
.contact-message.form-admin {
  width: 80%;
}
.form-errors-box {
  font-family: 'Encode Sans Semi Condensed';
  color: #211b15;
  font-size: 1rem;
}
.hidden-box {
  display: none;
}
.form-input.text-area {
  height: 110px;
}
.send-message-btn {
  width: 100%;
  background-color:#21ab9b;
}
.send-message-btn:hover {
  background-color:#fd2b7e;
}
.sent-message-box {
  background-color: #ff6fc7;
  height: 370px;
}
.merci-box {
  display: flex;
  flex-direction: row;
  font-family: 'Anton';
  font-size: 7rem;
  justify-content: center;
}
.merci-box p {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #211b15;
  padding-right: 3px;
  padding-top: 15px;
  color: #c7ff36;
}
.merci-text {
  font-family: 'Encode Sans Semi Condensed';
  color: #211b15;
  font-size: 1.2rem;
  text-align: center;
}
.merci-text h3 {
  padding-top: 40px;
  padding-bottom: 15px;
}