* {
  margin: 0;
  padding: 0;
}

.form-admin {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: medium;
  padding: 2px;
  margin-top: 25px;
  margin-left: 10px;
}

.box-player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #FF1493;
}

.box-music {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-frame {
  margin-top: 20px;
  width: 25%;
  min-width: 290px;
  height: 100px;
}

/* playlist text animation */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #FF6EC7;
  height: 120px;
  overflow: hidden;
}

.visible {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.visible:before {
  content:'(';
  line-height: 40px;
  color: #FF6EC7;
}

.visible:after {
  content: ')';
  top: 0;
  line-height: 40px;
  
}

.visible:before, .visible:after {
  top: 30px;
  color: rgb(19, 218, 46);
  font-size: 40px;
  animation: 2s linear 0s normal none infinite opacity;
}

ul {
  margin-left: 30px;
  text-align: center;
  list-style: none;
  animation: 7s linear 0s normal none infinite change;
}

ul li {
  line-height: 40px;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 12%, 100% {
    transform: translateY(-28%);
  }
  17%,29% {
    transform: translateY(-53%);
  }
  34%,46% {
    transform: translateY(-78%);
  }
  51%,63% {
    transform: translateY(-53%);
  }
  68%,80% {
    transform: translateY(-28%);
  }
  85%,97% {
    transform: translateY(-53%);
  }
}

/* navbar */
/* add a background color to the top navigation */
.topnav {
  background-color: #FF6EC7;
  overflow: hidden;
}

/* style the links inside the navigation bar */
.topnav a {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00CED1;
}

.topnav a.home-link {
  font-family: 'Anton';
  letter-spacing: 1px;
  color: #F4FF00;
  font-size: 25px;
}

.topnav a.nav-link {
  padding-top: 20px;
}

/* hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav a.home-link:hover {
  padding-top: 14px;
  padding-bottom: 11px;
}

.topnav a.icon:hover {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* artists section */
.box-grid {
  max-height: 420px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.photo {
  width: 100%;
  object-fit: cover;
  min-height: 420px;
}

.box-names {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 140px 140px 140px;
  background-color: rgb(19, 218, 46);
  max-height: 420px;
  overflow: hidden;
}

.artist-name {
  font-family: 'Anton';
  color:#4F95DA;
  font-size: 12vw;
  animation-name: names;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  transition: 6s;
  margin-top: -2rem;;
}

.artist-surname {
  font-family: 'Anton';
  color: white;
  font-size: 9vw;
  animation-name: names;
  animation-delay: 2.5s;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transition: 6s;
}

.box-button {
  display: flex;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  margin-left: -4vw;
  margin-top: 3vw;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #FF6EC7;
  border: 1px solid #F4FF00;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 15px;
  transform: rotate(-3deg);
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  font-family: 'Encode Sans Semi Condensed';
  color: white;
  font-size: 18px;
  font-weight:700;
  letter-spacing: 1px;
}

@keyframes names{
  0% {
    margin-left: 1000px;
  }
  12% {
    margin-left: 850px;
  }
  25% {
    margin-left: 500px;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: -300px;
  }
}

/* When the screen is less than xx pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1070px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 20px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon */
@media screen and (max-width: 1070px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .artist-name {
    margin-top: 1rem;
  }
  .artist-surname {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 800px) {
  .box-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 310px 210px;
    max-height: none;
    overflow:auto;
  }
  .box-names {
    margin-top: -1rem;
    grid-template-rows: 70px 70px 70px;
    max-height: 210px;
    overflow: auto;
  }
  .photo {
    width: 100%;
    object-fit: cover;
    min-height: 300px;
  }
  .artist-name {
    font-size: 23vw;
    margin-top: -1rem;
  }
  .artist-surname {
    font-size: 15vw;
    margin-top: -1rem;
  }
  .box-button {
    margin-left: 1rem;
    margin-top: -0.5rem;
  }
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: #FF6EC7;
    border: 1px solid #F4FF00;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 15px;
    transform: rotate(0deg);
  }
  .box-player {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    height: 90px;
  }
  .music-frame {
    margin-top: 8px;
    margin-bottom: 8px;
    min-width: none;
    height: 90px;
  }
  .visible {
    margin-left: 10px;
    padding: 0 20px;
  }
  
  ul {
    margin-left: -20px;
  }
}
