* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F4FF00;
}
a {
  text-decoration: none;
}
.flags-container {
  position: relative;
  z-index: 8;
  background-color: #FF6EC7;
  width: 100%;
  height: 10px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  text-align: right;
  padding-top: 1%;
}
.flag-icon {
  background-color:white;
  font-size: 11px;
  color:#211b15;
  margin-right: 2.2%;
  margin-top: 1%;
  padding: 3px 14px 3px 14px;
  border-radius: 6px;
}
.flag-icon:hover {
  background-color:#4F95DA;
  color: white;
}
/** form **/
.form-admin {
  width: 80%;
  margin-left: 30px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.notice-box {
  margin-left: 30px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 18px;
}
select {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 15px;
  margin-left: 10px;
  width:200px;
  border: none;
  height: 35px;
  border-radius: 8px;
  text-align: center;
}
.form-button {
  text-align: center;
  font-size: 15px;
  color: white;
  border: none;
  background-color: #21ab9b;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 110px;
}
.edit-button {
  width: 110px;
  height: 40px;
  background-color: #e81a4c;
  color: white;
  padding: 10px 35px 10px 35px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}
.form-input {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 15px;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  border: none;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 11px;
  margin-top: 5px;
}
.logout {
  margin-left: 0px;
  font-size: medium;
}
.artist-name-admin {
  font-family: 'Encode Sans Semi Condensed';
  font-weight: 700;
  font-size: 2rem;
  padding-top: 3%;
  padding-left: 3%;
}
.canvas-grid-admin {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
  text-align: center;
}
.canvas-card-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 360px;
  background-color: white;
  color: #211b15;
  font-family: 'Encode Sans Semi Condensed';
  overflow: hidden;
  border-radius: 22px;
}
.img-box-admin {
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.canvas-img-admin {
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
}
.desc-adm {
  text-align: left;
  font-size: 0.9rem;
  margin-left: 7%;
}
.title-adm {
  text-align: left;
  font-size: 0.9rem;
  margin-left: 7%;
  font-weight: 700;
}
.canva-img {
  max-height: 300px;
}
/** navbar **/
.topnav {
  position:relative;
  background-color: #FF6EC7;
  overflow:hidden;
  z-index: 7;
}
.topnav a {
  display: block;
  float: left;
}
.topnav a.nav-link {
  color: whitesmoke;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-left: 30px;
  padding: 17px 0 17px 0;
  text-align: center;
}
.topnav a.nav-link:hover {
  background-color: #00ced1;
  transition: 0.7s;
  border-radius: 15px 15px 0 0;
  padding-left: 8px;
  padding-right: 8px;
}
.logo-link {
  height: 75px;
}
.topnav a.logo-link:hover {
  opacity: 60%;
  transition: 0.5s;
}
.logo-img {
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 3px;
}
.topnav .icon {
  display: none;
  color: whitesmoke;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-top: 18px;
  margin-right: 2.2%;
}
.topnav a.icon:hover {
  background-color: #00ced1;
  transition: 0.7s;
  border-radius: 9px;
}
/** music box **/
.box-player {
  position: fixed;
  z-index: 7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #FF1493;
}
/* party time */
.box-player {
  position: relative;
  z-index: 7;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  line-height: 40px;
  color: #FF6EC7;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 38px;
 
}
.visible {
  height: 40px;
  overflow: hidden;
  font-weight: 600;
}
.visible:before {
  content:'(';
}
.visible:after {
  position: absolute;
  content: ')';
  margin-left: 230px;
  margin-top: -200px;
}
.visible:before, .visible:after {
  color: rgb(19, 218, 46);
  animation: 2s linear 0s normal none infinite opacity;
}
.sound-ul {
  padding-left: 35px;
  text-align: center;
  list-style: none;
  animation: 7s linear 0s normal none infinite change;
}
.box-music {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes opacity {
  0%, 100% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
}

@keyframes change {
  0%, 12%, 100% {
    transform: translateY(-43px);
  }
  17%,29% {
    transform: translateY(-83px);
  }
  34%,46% {
    transform: translateY(-123px);
  }
  51%,63% {
    transform: translateY(-163px);
  }
  68%,80% {
    transform: translateY(-123px);
  }
  85%,97% {
    transform: translateY(-83px);
  }
}
/** artists section **/
.box-grid {
  max-height: 550px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 550px;
}
.photo {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 550px;
  object-fit: cover;
}
.box-names {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42% 26% 32%;
  max-height: 550px;
  background-color: rgb(19, 218, 46);
}
.box-names.emile {
  background-color: #f80427;
}
.box-names.verena {
  background-color: #21ab9b;
}
.artist-name {
  color:#4F95DA;
  font-family: 'Anton';
  font-size: 11.5vw;
  margin-top: -3vw;
  margin-left: 1vw;
  animation-name: name;
  animation-duration: 3s;
  animation-timing-function: steps(4, end);
  animation-delay: 1s;
  transition: 4s;
}
.artist-name.emile {
  color: whitesmoke;
  margin-top: -1vw;
  font-size: 11vw;
}
.artist-name.verena {
  color: #FF6EC7;
}
.artist-surname {
  color: whitesmoke;
  font-family: 'Anton';
  font-size: 8.5vw;
  margin-top: -2vw;
  margin-left: 1vw;
  animation-name: surname;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(p1, p2, p3, p4);
  animation-iteration-count: 2;
  transition: 3s;
}
.artist-surname.emile {
  color: #a1b20a;
  margin-top: -1vw;
}

@keyframes surname{
  0% {
    margin-left: -767px;
  }
  100% {
    margin-left: -300px;
  }
}

@keyframes name{
  0% {
    margin-left: -1000px;
  }
  25% {
    margin-left: -767px;
  }
  75% {
    margin-left: -533px;
  }
  88% {
    margin-left: -417px;
  }
  100% {
    margin-left: -300px;
    opacity: 1;
  }
}
/* artists button */
.box-button {
  display: flex;
  z-index: 3;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  margin-left: 11vw;
  margin-top: 3vw;
}
.center {
  position: absolute;
  width: 210px;
  height: 70px;
}
.btn {
  width: 210px;
  height: 70px;
  cursor: pointer;
  background: #FF6EC7;
  border: 1px solid #F4FF00;
  transition: 1s ease-in-out;
  border-radius: 25px;
}
.btn.emile {
  background: #79688e;
}
.btn.verena {
  background: #91d400;
}
svg {
  width: 210px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: whitesmoke;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  opacity: 80%;
}
.btn:hover {
  transition: 1s ease-in-out;
  background: #f80427;
  transition: 0.7s;
}
.btn:hover.emile {
  background: #63acc7;
}
.btn:hover.verena {
  background: #e81a4c;
}
.btn:hover svg {
  stroke-dashoffset: -480;
}
.btn span {
  color: white;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
}
/* div fade in */
.reveal{
  transform: translateY(120px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
  transition: 1s all ease;
}
/* atelier section */
.atelier-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #ccff33;
  height: 600px;
  overflow: hidden;
}
.atelier-description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atelier-text {
  color: #211b15;
  width: 85%;
  font-family: 'Encode Sans Semi Condensed';
  font-size: 1.7rem;
  line-height: 150%;
  text-align: justify;
  padding-top: 3%;
  padding-bottom: 3%;
}
.atelier-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  height: 600px;
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-height: 300px;
  overflow: hidden;
}
.slider-ul {
  width: 100%;
  position: relative;
  height: 900px;
  left:0%;
  animation-name: slider;
  animation-delay: 6s;
  animation-duration: 50s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
  transition: 4s;
}
.slider-ul.slider-dois {
  animation-delay: 4s;
  animation-duration: 50s;
}
.slider-ul.slider-tres {
  animation-delay: 8s;
  animation-duration: 50s;
}
.slider li {
  height: 300px;
  min-width: 100%;
  min-height: 300px;
  list-style: none;
}
.slider-img {
  height: 300px;
  object-fit: cover;
  min-height: 300px;
  min-width: 100%;
}
.newspaper-img {
  height: 110%;
}
.isavaso-img {
  width: 120%;
  margin-left: -18px;
}
.slider-img.pele {
 max-width: 100%;
}

@keyframes slider{
  0% {
    margin-top: 600px;
  }
  24% {
    margin-top: 600px;
  }
  25% {
    margin-top: 0px;
  }
  49% {
    margin-top: 0px;
  }
  50% {
    margin-top: -600px;
  }
  74% {
    margin-top: -600px;
  }
  75% {
    margin-top: 0px;
  }
  99% {
    margin-top: 0px;
  }
  100% {
    margin-top: 600px;
  }
}
/** store **/
.store-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 150px;
  align-items: center;
  background-color:#ff0099;
}
.store-title {
  margin-left: 3vw;
  width: 50%;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 4vw;
  letter-spacing: 1px;
  color: whitesmoke;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(24) infinite alternate,
    blink 2000ms steps(24) infinite normal;
}
.store-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Encode Sans Semi Condensed';
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.store-btn {
  width: 210px;
  height: 60px;
  cursor: pointer;
  color: whitesmoke;
  background: linear-gradient(180deg, #FF89D6 0%, #FF1493 70%);
  transition: all 0.3s ease;
  border-radius:15px;
  border: #FF1493;
  box-shadow: 0px 2px 15px -3px #610030;
}
.store-btn:hover {
  transform:scale(1.1,1.1);
  background: #FF1493;
}
.store-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8% 4%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #FAE6FA;
  text-decoration: none;
}
.store-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 600px;
  background-color: white;
  color: #211b15;
  font-family: 'Encode Sans Semi Condensed';
  overflow: hidden;
  border-radius: 22px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 80%;
  overflow: hidden;
}
.product-img {
  width: 100%;
  object-fit: cover;
}
.product-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1.3%;
  margin-left: 5%;
  margin-bottom: 1%;
}
.product-description {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 5%;
}
.product-description.reference {
  margin-top: 1%;
  font-size: 0.8vw;
  color: #808080;
}
.product-link {
  font-size: 1.6rem;
  font-weight: 700;
  color: #674691;
  margin-left: 5%;
  margin-top: 1%;
  padding-bottom: 2%;
}
.product-link:hover {
  color: #ff4f00;
  transition: 0.7s;
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}
/** footer **/
.footer-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background-color: #FF1493;
  height: 120px;
  z-index: 7;
}
.footer-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.footer-column.instagram {
  background-color: #6d4897;
}
.contact {
  font-family: 'Anton';
  font-size: 30px;
  letter-spacing: 1px;
  color: whitesmoke;
  text-rendering: optimizeLegibility;
  margin-left: 3vw;
  padding-top: 1%;
}
.contact-insta {
  margin-left: 2vw;
}
.flip-container {
  perspective: 1000px;
  height: 60px;
}
.flipper{
  position: relative;
	width: 100%;
	height: 100%;
  transition: transform 1s;
	transform-style: preserve-3d;
}
.flip-container:hover .flipper{
	transform: rotateY(180deg);
}
.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
  color:whitesmoke;
  font-family: 'Anton';
  font-size: 30px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  backface-visibility: hidden;
  padding-top: 2%;
}
.front {
  background-color: #FF4f00;
}
.front.email {
  background-color: #009b77;
}
.back{
	transform: rotateY(180deg);
  background-color: #91d400;
}
.back.email {
  background-color: #ff5c5a;
}
.contact-link {
  margin-left: 3vw;
  color:whitesmoke;
}
.box-instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin-left: 4%;
}
.box-instagram-isabelle {
  background-color:#FF4f00;
}
.box-instagram-isabelle:hover {
  background-color: #e2cd0f;
}
.box-instagram-verena {
  background-color:#FF1493;
}
.box-instagram-verena:hover {
  background-color: #a1b20a;
}
.box-instagram-atelier {
  background-color:#009b77;
}
.box-instagram-atelier:hover {
  background-color: #63acc7;
}
.insta-link {
  color:whitesmoke;
  font-family: 'Anton';
  font-size: 25px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  padding-top: 1%;
  margin-left: 3vw;
}
.credits {
  position: relative;
  background-color:#FF6EC7;
  display: flex;
  width: 100%;
  padding-bottom: 15px;
  justify-content:center;
  text-align:right;
  z-index: 7;
}
.credit {
  padding-top: 15px;
  font-family: 'Encode Sans Semi Condensed';
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}
