
@media screen and (max-width: 1900px) {
  .artist-surname {
    margin-top: -3.7vw;
  }
  .artist-surname.emile {
    margin-top: -2.6vw;
  }
}

@media screen and (max-width: 1800px) {
  .atelier-grid {
    height: 450px;
  }
  .atelier-text {
    font-size: 1.35rem;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .atelier-images {
    height: 450px;
  }
  .slider {
    height: 225px;
    max-height: 225px;
  }
  .slider-ul {
    height: 675px;
  }
  .slider li {
    height: 225px;
    min-height: 225px;
  }
  .slider-img {
    height: 225px;
    min-height: 225px;
  }
  .newspaper-img {
    height: 250px;
  }
  
  @keyframes slider{
    0% {
      margin-top: 450px;
    }
    24% {
      margin-top: 450px;
    }
    25% {
      margin-top: 0px;
    }
    49% {
      margin-top: 0px;
    }
    50% {
      margin-top: -450px;
    }
    74% {
      margin-top: -450px;
    }
    75% {
      margin-top: 0px;
    }
    99% {
      margin-top: 0px;
    }
    100% {
      margin-top: 450px;
    }
  }
  .artist-text {
    font-size: 1.1rem;
    line-height: 150%;
  }
}

@media screen and (max-width: 1600px) {
  .artist-surname {
    margin-top: -5vw;
  }
  .artist-surname.emile {
    margin-top: -4vw;
  }
  .atelier-text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1500px) {
  .topnav a.nav-link {
    font-size: 17px;
  }
  .artist-surname {
    margin-top: -4vw;
  }
  .artist-surname.emile {
    margin-top: -3vw;
  }
  .box-grid {
    max-height: 450px;
  }
  .box-image {
    max-height: 450px;
  }
  .photo {
    min-height: 450px;
  }
  .box-names {
    grid-template-rows: 190px 115px 145px;
    max-height: 450px;
  }
  .box-button {
    margin-top: 2.5vw;
  }
  .store-head {
    height: 120px;
  }
  .store-grid {
    grid-gap: 8% 6%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .store-card {
    max-height: 450px;
  }
  .product-title {
    font-size: 1.2rem;
  }
  .product-link {
    font-size: 1.1rem;
  }
  .product-description {
    font-size: 1rem;
  }
  .product-description.reference {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1400px) {
  .topnav a.nav-link {
    margin-left: 25px;
    font-size: 16px;
  }
  .atelier-text {
    font-size: 1.05rem;
    line-height: 180%;
  }
  .artist-title {
    font-size: 5.2vw;
  }
}

@media screen and (max-width: 1300px) {
  .artist-name {
    font-size: 12vw;
  }
  .artist-surname {
    font-size: 9vw;
    margin-top: -5vw;
  }
  .artist-surname.emile {
    margin-top: -4vw;
  }
  .box-button {
    margin-top: 2vw;
  }
  .product-title {
    margin-bottom: 0.8%;
  }
}

@media screen and (max-width: 1200px) {
  .artist-surname {
    margin-top: -6vw;
  }
  .artist-surname.emile {
    margin-top: -5vw;
  }
  .contact {
    font-size: 22px;
  }
  .front, .back{
    font-size: 22px;
  }
  .insta-link {
    font-size: 19px;
  }
  .atelier-text {
    line-height: 150%;
  }
  .slider-img.pele {
    min-width: 100%;
    max-width: 110%;
    margin-left: -18px;
   }
   .artist-text {
    font-size: 1.1rem;
    line-height: 140%;
  }
}

/**navbar**/
@media screen and (max-width: 1050px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float:right;
    display: block;
  }
  .topnav a.nav-link {
    margin-top: 10px;
  }
  .topnav a.nav-link:hover {
    border-radius:0;
  }
  .topnav a.nav-link {
    margin-left: 0;
    padding-left: 20px;
  }
  .topnav.responsive {
    position: relative;
    padding-left: 0;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
  .slider-img.pele {
    max-width: 118%;
    margin-left: -30px;
   }
   .store-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3% 5%;
    padding-left: 7%;
    padding-right: 7%;
  }
  .artist-text {
    font-size: 1rem;
    line-height: 130%;
  }
  .canvas-grid-admin {
    grid-template-columns: repeat(3, 1fr);
  }
  .bio-title-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .bio-title-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .bio-title-bio {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 50%;
    height: 90px;
  }
  .bio-imgs-grid {
    margin-top: -90px;
  }
  .bio-img-box {
    height: 320px;
  }
}

@media screen and (max-width: 800px) {
  .music-frame {
    width: 80%;
  }
  .box-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    height: 700px;
    max-height: 700px;
  }
  .box-image {
    height: 450px;
    max-height: 450px;
    overflow: hidden;
  }
  .photo {
    min-height: 450px;
    max-height: 450px;
  }
  .box-names {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 250px;
    max-height: 250px;
  }
  .box-name {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .box-surname {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .box-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 12vw;
    margin-top: -4vw;
  }
  .artist-name {
    font-size: 18vw;
    margin-top: -4vw;
    margin-left: 3vw;
  }
  .artist-name.emile {
    margin-top: -1vw;
    font-size: 15vw;
  }
  .artist-surname {
    font-size: 12vw;
    margin-top: -8vw;
    margin-left: 3vw;
  }
  .artist-surname.emile {
    margin-top: -7vw;
  }
  @keyframes surname{
    0% {
      margin-left: -1200px;
    }
    50% {
      margin-left: 400px;
    }
    100% {
      margin-left: -300px;
    }
  }
  .atelier-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 900px;
  }
  .atelier-text {
    font-size: 1.2rem;
    line-height: 170%;
  }
  .slider-img.pele {
    max-width: 100%;
    margin-left: 0;
   }
  .store-card {
    max-height: 380px;
  }
  .store-title {
    font-size: 4.8vw;
  }
  .product-img-box {
    max-height: 60%;
  }
  .credit {
    font-size: 12px;
  }
  .footer-box {
    grid-template-columns: repeat(1, 1fr);
    height: 225px;
  }
  .footer-column {
    height: 90px;
  }
  .footer-column.instagram {
    height: 135px;
  }
  .flip-container {
    height: 45px;
  }
  .box-instagram {
    margin-left: 0;
    height: 45px;
  }
  .insta-link {
    font-size: 22px;
  }
  .artist-title {
    font-size: 10vw;
  }
  .artist-text {
    font-size: 1.1rem;
    line-height: 150%;
  }
  .bio-img-box {
    height:auto;
  }
  .contact-page-title {
    font-size: 11vmax;
    padding-left: 30px;
  }
  .contact-box {
    grid-template-columns: 1fr;
    height: 600px;
    margin-top: 0;
  }
  .contact-img-box {
    height: 200px;
    margin-left: 12%;
  }
  .contact-message.form-admin {
    width: 90%;
    height: 400px;
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a.nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    min-width: none;
  }
  .topnav a.nav-link:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin-left: 0;
  }
  .logo-img {
    height: 50px;
    margin-top: 15px;
    padding-left:10px;
  }
  .box-player {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    height: 90px;
    line-height: 30px;
    font-size: 29px;
    margin-left: -10%;
  }
  .visible {
    height: 30px;
  }
  .visible:before {
    height: 330px;
    overflow: hidden;
  }
  .visible:after {
    margin-left: 50%;
    margin-top: -150px;
    height: 33px;
    overflow: hidden;
  }
  .sound-ul {
    padding-left: 45px;
  }
  .box-music {
    height: 100px;
    align-items:flex-start;
    padding-bottom: 10px;
  }
  @keyframes change {
    0%, 12%, 100% {
      transform: translateY(-33px);
    }
    17%,29% {
      transform: translateY(-63px);
    }
    34%,46% {
      transform: translateY(-93px);
    }
    51%,63% {
      transform: translateY(-123px);
    }
    68%,80% {
      transform: translateY(-93px);
    }
    85%,97% {
      transform: translateY(-63px);
    }
  }
  .box-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    height: 700px;
    max-height: 700px;
  }
  .box-image {
    height: 400px;
    max-height: 400px;
    overflow: hidden;
  }
  .photo {
    min-height: 400px;
    max-height: 400px;
  }
  .box-names {
    grid-template-columns: 1fr;
    grid-template-rows: 130px 90px 80px;
    height: 300px;
    max-height: 300px;
  }
  .box-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .box-surname {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .box-button {
    margin-left: 45%;
    margin-top: -3%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
   .artist-name {
    font-size: 23vw;
    margin-left: 5vw;
    margin-top: -25px;
  }
  .artist-name.emile {
    margin-top: -17px;
    font-size: 21vw;
  }
  .artist-surname {
    font-size: 17vw;
    margin-top: -38px;
    margin-left: 5vw;
  }
  .artist-surname.emile {
    margin-top: -8vw;
  }
  .atelier-grid {
    height: 1100px;
  }
  .atelier-description {
    height: 500px;
  }
  .atelier-text {
    font-size: 1.1rem;
    line-height: 160%;
  }
  .atelier-images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
    max-height: 600px;
  }
  .slider {
    height: 200px;
    max-height: 200px;
  }
  .slider-ul {
    height: 600px;
    animation-delay: 1s;
    animation-duration: 30s;
    transition: 1s;
  }
  .slider-ul.slider-dois {
    animation-delay: 3s;
    animation-duration: 30s;
  }
  .slider-ul.slider-tres {
    animation-delay: 5s;
    animation-duration: 30s;
  }
  .slider li {
    height: 200px;
    min-height: 200px;
  }
  .slider-img {
    height: 200px;
    min-height: 200px;
    object-fit: cover;
    min-width: 100%;
  }
  .newspaper-img {
    height: 220px;
  }
  @keyframes slider{
    0% {
      margin-top: 400px;
    }
    24% {
      margin-top: 400px;
    }
    25% {
      margin-top: 0px;
    }
    49% {
      margin-top: 0px;
    }
    50% {
      margin-top: -400px;
    }
    74% {
      margin-top: -400px;
    }
    75% {
      margin-top: 0px;
    }
    99% {
      margin-top: 0px;
    }
    100% {
      margin-top: 400px;
    }
  }
  .store-head {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 170px;
  }
  .store-title {
    margin-left: 7%;
    margin-top: 0;
    width: 80%;
    font-size: 8.6vw;
  }
  .store-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .product-img-box {
    max-height: 63%;
  }
  .artist-text {
    font-size: 1rem;
  }
  .bio-link {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 160px;
  }
  .bio-link a{
    padding-top: 1%;
  }
  .work-head-title {
    font-size: 1.1rem;
  }
  .canvas-grid-admin {
    grid-template-columns: repeat(2, 1fr);
  }
  .bio-section {
    grid-template-columns: 1fr;
  }
  .bio-title-name {
    font-size: 10vmax;
  }
  .bio-title-bio {
    padding-left: 0;
    margin-left: 8%;
  }
  .bio-text {
    margin-left: 8%;
    width: 85%;
    font-size: 1.1rem;
  }
  .bio-imgs-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 5%;
  }
  .canva-show-section {
    flex-direction: column;
  }
  .canva-show-text-box {
    width: 100%;
    padding-left: 35px;
  }
  .merci-text {
    width: 80%;
    margin-left: 10%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .flag-icon {
    margin-right: 4%;
  }
  .artist-name {
    font-size: 23vw;
    margin-left: 5vw;
    margin-top: -22px;
  }
  .artist-name.emile {
    margin-top: -14px;
    font-size: 21vw;
  }
  .artist-surname {
    font-size: 17vw;
    margin-top: -42px;
    margin-left: 5vw;
  }
  .artist-surname.emile {
    margin-top: -9vw;
  }
  .atelier-text {
    font-size: 1rem;
    line-height: 170%;
  }
  .store-btn {
    margin-top: -10px;
  }
  .artist-text {
    line-height: 145%;
  }
  .work-head-title {
    margin-left:0;
    text-align: center;
  }
  .canvas-grid-admin {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 7%;
    padding-right: 7%;
  }
  .bio-title-name {
    height: 70px;
    font-size: 5vmax;
    letter-spacing: 1px;
  }
  .bio-title-bio {
    height: 70px;
    padding-top: 5vh;
  }
  .contact-page-title {
    font-size: 15vmax;
  }
  .contact-box {
    height: 540px;
  }
  .contact-img-box {
    height: 140px;
  }
  .contact-img {
    width: 120%;
  }
  .contact-message.form-admin {
    width: 90%;
    height: 400px;
    margin-left: 20px;
  }
}
