<div class="footer-box">
  <div class="footer-column">
    <div>
      <p class="contact">CONTATO</p>
    </div>
    <div>
      <figure>
        <a href="https://wa.me/5511982113406?text=Olá%20Atelier%20Cité!" class="a-link contact-link" target="_blank">
          <button class="cta-button">WHATSAPP</button>
          <div class="shadow"></div>
        </a>
      </figure>
      <figure>
        <a href="mailto:andrea@luhz.com.br?subject=Atelier Cité" class="a-link contact-link" target="_blank">
          <button class="cta-button">E-MAIL</button>
          <div class="shadow"></div>
        </a>
      </figure>
    </div>
  </div>
  <div class="footer-column insta-column">
    <div>
      <p class="contact">INSTAGRAM</p>
    </div>
    <div>
      <div class="box-instagram">
        <img src="/assets/index/insta.png" alt="logotipo instagram" class="instagram-img">
        <a href="https://www.instagram.com/isabelletuchband" class="a-link">
        <p class="footer-link">ISABELLE TUCHBAND</p></a>
      </div>
      <div class="box-instagram">
        <img src="/assets/index/insta.png" alt="logotipo instagram" class="instagram-img">
        <a href="https://www.instagram.com/verenamatzen" class="a-link">
        <p class="footer-link">VERENA MATZEN</p></a>
      </div>
      <div class="box-instagram">
        <img src="/assets/index/insta.png" alt="logotipo instagram" class="instagram-img">
        <a href="https://www.instagram.com/ateliercite" class="a-link">
        <p class="footer-link">ATELIER CITÉ</p></a>
      </div>
    </div>
  </div>
</div>
<div class="credits">
  <p class="credit">all rights reserved 2023 © Atelier Cité - webdesign.</p>
  <a href="mailto:andrea@luhz.com.br?subject=webdesign Cité" class="a-link footer-link credit">luhz</a>
</div>