<nav>
  <div class="topnav" id="myTopnav">
    <a href="#home" class="home-link">ATELIER CITÉ</a>
    <a href="#" class="nav-link">Isabelle Tuchband</a>
    <a href="#" class="nav-link">Émile Tuchband</a>
    <a href="#" class="nav-link">Verena Matzen</a>
    <a href="#" class="nav-link">Sala de Exposição</a>
    <a href="#" class="nav-link">Loja | Edições Limitadas</a>
    <a href="#" class="nav-link">Contato</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
<div class="box-player">
  <div class='content'>
    <div class='visible'>
      <ul class="sound-ul">
        <li class="sound-li">sound on</li>
        <li class="sound-li">party time</li>
        <li class="sound-li">sound on</li>
        <li class="sound-li">welcome</li>
      </ul>
    </div>
  </div>
  <div class="box-music">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/38GAGvXt4wMNFsOVZhpG3w?utm_source=generator&theme=0" width="70%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="music-frame"></iframe>
  </div>
</div>